* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-container {
    width: 100%;
    padding: 20px;
    overflow: hidden;
    /* do not show scroll bar for overflow content */
}


.category-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}


.category {
    width: 24%;
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    /* iske under ka product-cart overflow ho sakta hai so use overflow hidden*/
    position: relative;
    /* alwaysh stay in it's normal position */
}


.category h3 {
    text-align: center;
    margin-bottom: 10px;
    color: blue;
}

.category h3:hover {
    text-decoration: underline;
    cursor: pointer;
}


.product-slider {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-bottom: 10px;
}



.product-card {
    min-width: 100%;
    text-align: center;
    padding: 10px;
    background: #a2a0a0;
    border-radius: 6px;
    transition: transform 0.2s ease-in-out;
}

.product-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.product-card img {
    width: 150px;
    height: 150px;
    border-radius: 4px;
}


.scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #c8ece8;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    padding: 7px;
    border-radius: 30%;
    font-size: 20px;
    transition: background 0.2s ease-in-out;
}

.scroll-btn.left {
    left: 2px;
}

.scroll-btn.right {
    right: 2px;
}

.scroll-btn:hover {
    background: #a8b7b7;
}